body{
    margin: auto;
    text-align: center;
    overflow: visible !important;
    background-repeat: none;
    background-color: #21D4FD;
    background-image: linear-gradient(90deg, #21D4FD 0%, #B721FF 100%);
    font-size:x-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(230, 219, 156);


}